@model FreeWheeling.UI.Models.AdHocRideCommentModel
@{
    ViewBag.Title = "Add Ad Hoc Comment";
}

<h4><span class="label label-success">Add a Comment</span></h4>

@Html.ActionLink("<-- Back to Ride", "ViewAdHocRide", "Ride", new { adhocrideid = @Model.adhocrideid }, new { @class = "btn btn-default", onclick = "ShowProgress();" })
<p></p>
@using (Html.BeginForm())
{
    <div>

        @Html.TextAreaFor(model => model.Comment, new { @class = "form-control" })
    </div>
    <p></p>
    <input onclick="ShowProgress();" class="btn btn-primary" type="submit" name="CommentSubmit" value="Add Comment" />
}

<div class="loading" align="center">
    Loading. Please wait.<br />
    <br />
    <img src="~/Content/Images/loader.gif" alt="" />
</div>