@model FreeWheeling.UI.Models.MoreGroupDetailsModel
<p></p>
<span class="col-xs-10"><b>Start Location:</b> @Model.StartLocation</span>
<p></p>
<span class="col-xs-10"><b>Description:</b> @Model.Description</span>
<p></p>
<span class="col-xs-10"><b>Created by:</b> @Model.CreatedByName</span>
@*Average Speed: @Model.AverageSpeed*@
