body {
    padding-top: 50px;
    padding-bottom: 20px;
    
 
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top:20px;
    /*background-image: url('/../Content/Images/bike.jpg');*/
    background-repeat:no-repeat;
    background-position-x:0px;
    height:200px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

/*Bootstrap over writes*/
.label {
display: inline;
padding: .2em .6em .3em;
font-size: 75%;
font-weight:normal;
line-height: 1;
color: #ffffff;
text-align: center;
white-space: nowrap;
vertical-align: baseline;
border-radius: .25em;
}

.btn {
margin-right: 20px;
}

/*Style for loading image*/
 .modal {
        position: fixed;
        top: 0;
        left: 0;
        background-color: white;
        z-index: 99;
        opacity: 0.8;
        filter: alpha(opacity=80);
        -moz-opacity: 0.8;
        min-height: 100%;
        width: 100%;
    }

    .loading {
        font-family: Arial;
        font-size: 10pt;
        border: 1px solid #67CFF5;
        width: 200px;
        height: 100px;
        display: none;
        position: fixed;
        background-color: White;
        z-index: 999;
    }
/*Style for loading image*/

/*Style for jqueryui autocomplete spinner*/
.ui-autocomplete-loading { background:url('./Images/autocompleteLoader.gif') no-repeat right center;

                           
}