@model FreeWheeling.UI.Models.HomeIndexModel
<span id="statusspan" class="">
    @if (@Model.IsOnWay)
    {
        @:on your way
    }
    @if (@Model.IsIn)
    {
        <span class="glyphicon glyphicon-thumbs-up"></span>
    }
    @if (@Model.IsOut)
    {
        <span class="glyphicon glyphicon-thumbs-down"></span>
    }
</span>