@model FreeWheeling.UI.Models.HomeIndexModel
<span id="statusspan">
    @if (@Model.IsOnWay)
    {
        <span class="pull-right">on way</span>
    }
    @if (@Model.IsIn)
    {
        <span  class="pull-right glyphicon glyphicon-thumbs-up"></span>
    }
    @if (@Model.IsOut)
    {
        <span  class="pull-right glyphicon glyphicon-thumbs-down"></span>
    }
</span>