@{
    ViewBag.Title = "Home Page";
}

<div >
    
</div>

<div class="row">
    <div class="col-md-12">
        <p class="text-center">@Html.ActionLink("Groups", "Index", "Group", new { }, new { @class = "btn btn-primary" })</p>
        <p class="text-center">@Html.ActionLink("My Groups", "MyGroups", "Group", new { }, new { @class = "btn btn-primary" })</p>
    </div>
</div>