@model FreeWheeling.UI.Models.HomeIndexModel
@{
    ViewBag.Title = "Home Page";
}

<div >
    
</div>

<div class="row">
    <div class="col-md-12">

        @Html.DropDownListFor(
             x => x.LocationsId,
    new SelectList(
        Model.Locations.ToList().Select(
                     x => new { Value = x.id, Text = x.Name }
        ),
        "Value",
                 "Text",Model.LocationsId
    ),"-- Set a Location --"
)

        <p class="text-center">@Html.ActionLink("Groups", "Index", "Group", new { }, new { @class = "btn btn-primary" })</p>
        <p class="text-center">@Html.ActionLink("My Groups", "MyGroups", "Group", new { }, new { @class = "btn btn-primary" })</p>
    </div>
</div>