@model FreeWheeling.UI.Models.LocationChangeModel
@{
    ViewBag.Title = "Change Location";
}
<div class="row">
    <p>
        @Html.ActionLink(" ", "Index", "Home", null, new { @style = "background-color: #FFF; color: #333333;", @class = "glyphicon glyphicon-chevron-left", onclick = "ShowProgress();" })
    </p>

    <p>Change Location</p>

    @using (Html.BeginForm("Index", "Home", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.DropDownListFor(
             x => x.LocationsId,
    new SelectList(
        Model.Locations.ToList().Select(
                     x => new { Value = x.id, Text = x.Name }
        ),
        "Value",
                 "Text", Model.LocationsId
    ), "-- Set a Location --", new { @class = "form-control" }
)
        <p></p>
        <input onclick="ShowProgress();" type="submit" value="Set Location" class="btn btn-default" />

    }
</div>
    @section scripts{
        <script>
            jQuery(document).ready(function () {
                HideProgress();
            });
        </script>
    }