@model FreeWheeling.UI.Models.LocationChangeModel
@{
    ViewBag.Title = "Change Location";
}

@Html.ActionLink("Back <---", "Index", "Home", null, new { @class = "btn btn-info" })

<h2>Change Location</h2>

@using (Html.BeginForm("Index", "Home", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.DropDownListFor(
             x => x.LocationsId,
    new SelectList(
        Model.Locations.ToList().Select(
                     x => new { Value = x.id, Text = x.Name }
        ),
        "Value",
                 "Text", Model.LocationsId
    ), "-- Set a Location --", new {@class = "form-control" }
)
    <p></p>
    <input onclick="ShowProgress();" type="submit" value="Set Location" class="btn btn-primary" />

}

<div class="loading" align="center">
    Loading. Please wait.<br />
    <br />
    <img src="~/Content/Images/loader.gif" alt="" />
</div>
@section scripts{
    <script>
        jQuery(document).ready(function () {
            HideProgress();
        });
    </script>
}